html, body {
font-family: "Kanit", sans-serif;
  background-color: white;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: cente;
  margin: 0;
  font-size:35px;
  background-image: url("fundo.png")
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
fonter {
   font-family: "Kanit", sans-serif;
}



.botao{
  font-family: "Kanit", sans-serif;

}

html, body {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  font-size: 35px;
  background-image: url("fundo.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  text-align: center;
  font-weight: 1000;
   text-shadow: 10px 10px 5px rgba(0, 0, 0, 0.3);
}

footer{
  text-decoration: none;
  font-size: 25px;
  font-weight: 400;
}

footer a{
  text-decoration: none;
  color: white;
}

footer a:hover{
  color: COR DO SEU NOME;
  font-weight: 800;
}
button{
  background-color COR BOTÃO: 
  border: 2px solid COR BORDA ;
  color: white;
  font-size: 25px;
  border-radius: 200px;
  margin: 20px;
  padding: 5px;
}

button:hover{
  background-color: COR QUANDO COLOCA A MÃO NO BOTÃO;
  border: 2px solid COR DA BORDA;
  box-shadow: 5px 4px 4px rgb(47,47,47);
  font-weight: 800;
  color: black;
  
}

main{
  max-width: 90%;
  text-align: center;
  flex: 1;
}

img{
  max-width: 90%;
}

.passo{
  display: none;
}

.passo.ativo{
  display:block;
}


